.nav-profile__pic {
  margin: 3px 10px 0;
}
.form-row {
  margin-top: 2rem;
}
.form-buttons {
  margin-bottom: 2rem;
}

footer {
  margin-top: 30px;
}

/* label color */
 label, .input-field label {
   color: #03a9f4;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #03a9f4;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #03a9f4;
   box-shadow: 0 1px 0 0 #03a9f4;
 }
 input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #03a9f4;
     box-shadow: 0 1px 0 0 #03a9f4;
 }
 [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
     background-color: #03a9f4;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #03a9f4;
   box-shadow: 0 1px 0 0 #03a9f4;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #03a9f4;
   box-shadow: 0 1px 0 0 #03a9f4;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #03a9f4;
 }
 ul.dropdown-content.select-dropdown li span {
     color: #03a9f4;
 }

 input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
     color: #03a9f4;
 }

 [type="checkbox"]:checked+label:before {
     border-right-color: #03a9f4;
     border-bottom-color: #03a9f4;
   }
